## OS Specific

# export XCURSOR_SIZE=24

# Name of the primary monitor
# Usually from xrandr | grep primary | awk '{print $1}'
# export MONITOR=

# Name of the printer
# export PRINTER=

# export BSPWM_GAPS=10
# export BSPWM_TOP_PADDING=30

# export OPENAI_API_KEY=sk-foo

# export OPENWEATHERMAP_APIKEY=
# export OPENWEATHERMAP_LAT=
# export OPENWEATHERMAP_LONG=

# Suppress warning messages from org.a11y.Bus
# See: https://issues.guix.gnu.org/28088
# export NO_AT_BRIDGE=1

# Disable OpenGL to use sofware rendering (slow)
# export LIBGL_ALWAYS_SOFTWARE=1

# Set Helix runtime dir
# https://docs.helix-editor.com/install.html#configuring-helixs-runtime-files
# export HELIX_RUNTIME=$XDG_DEVELOP_DIR/testing/helix/runtime

# See |$NVIM_APPNAME| and |$NVIM_LOG_FILE|
# export NVIM_APPNAME=nvim
# export NVIM_LOG_FILE="$XDG_STATE_HOME/$NVIM_APPNAME/nvim.log"
# export VIMINIT='let $MYVIMRC = !has("nvim") ? "$XDG_CONFIG_HOME/vim/vimrc" : "$XDG_CONFIG_HOME/$NVIM_APPNAME/init.lua" | so $MYVIMRC'

# Useless notifier if managed via homebrew.
# export GH_NO_UPDATE_NOTIFIER=1
