_common/Packages/*

!_common/Packages/User
_common/Packages/User/Preferences.sublime-settings
_common/Packages/User/DA.sublime-theme
_common/Packages/User/Themes/Pywal.sublime-color-scheme

!_common/Packages/Default
!_common/Packages/soifou
!_common/Packages/sublime-nginx
