[Unit]
Description=Execute scripts on IMAP mailbox changes (new/deleted/updated messages) using IDLE, golang version.
After=gpg-agent.socket

[Service]
Type=simple
ExecStart=sh -c "goimapnotify"
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
