[Unit]
Description=Execute scripts on IMAP mailbox changes (new/deleted/updated messages) using IDLE, golang version.
After=gpg-agent.socket

[Service]
Type=simple
ExecStart=%h/.local/share/go/bin/goimapnotify -conf %h/.config/goimapnotify/%i.conf
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
