[user]
    name = Your name
    email = your@email.com
    ; signingkey = your@email.com

; [commit]
;     gpgsign = true

[diff]
    tool = delta
    colorMoved = default

[difftool]
    prompt = false
    trustExitCode = true

[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE

[difftool "delta"]
    cmd = delta $LOCAL $REMOTE

; [include]
;     path = delta-theme

[delta]
    navigate = true   # use n and N to move between diff sections
    hyperlinks = true
    hyperlinks-file-link-format = "file://{path}#{line}"
