[Desktop Entry]
Name=Lf
GenericName=File manager
Exec=kitty --class=lf lf
Terminal=false
Type=Application
Icon=system-file-manager
Categories=System;
MimeType=inode/directory;
