[Desktop Entry]
Type=Application
Name=Mailto
Exec=term --class=mailto neomutt %u
Terminal=false
MimeType=x-scheme-handler/mailto
Categories=Email
Icon=mail-client
