[Desktop Entry]
Name=Ranger
Comment=Ranger
GenericName=File manager
Exec=term --class=ranger ranger
Terminal=true
Type=Application
Icon=system-file-manager
Categories=System;
MimeType=inode/directory;
