[Desktop Entry]
Name=ScummVM
Comment=Interpreter for several adventure games
Exec=scummvm -c ~/.config/scummvm/scummvmrc
Icon=scummvm
Terminal=false
Type=Application
Categories=Game;AdventureGame;
StartupNotify=false
