[Desktop Entry]
Name=Skype
Comment=Skype
GenericName=Instant messaging
Exec=nativew skype
Terminal=false
Type=Application
Icon=skype
Categories=Nativefier;InstantMessaging;
StartupWMClass=
