[Desktop Entry]
Name=Tuir
Comment=Browse Reddit from your terminal
GenericName=Reddit client
Exec=wm-focus tuir
Terminal=false
Type=Application
Icon=reddit
Categories=Reddit;
