[Desktop Entry]
Name=Weechat
Comment=Weechat
GenericName=IRC client
Exec=wm-focus weechat
Terminal=false
Type=Application
Icon=weechat
Categories=InstantMessaging;
