"*":
  "atom-autocomplete-php":
    verboseErrors: true
  "atom-material-ui":
    colors:
      abaseColor: "#ffa726"
      accentColor: "#9f6918"
      genAccent: true
      paintCursor: true
      predefinedColor: "Orange"
    depth: true
    fontSize: "Big"
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "language-objective-c"
      "language-java"
      "language-go"
      "language-csharp"
      "language-clojure"
      "language-c"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "Iosevka Nerd Font"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    scrollSensitivity: 200
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0cfdc790-e936-e71e-41b3-54beca2e3827"
  "highlight-line":
    enableBackgroundColor: true
  "linter-ui-default":
    showPanel: true
  metrics:
    userId: "54932bdb-4edf-75e1-d566-868619fc9a9c"
  minimap: {}
  tabs:
    usePreviewTabs: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
