#!/bin/sh

# adjust keyboard
if command -v xset &> /dev/null; then
    # delay and rate
    xset r rate 300 40
    # turn off beep
    xset -b
fi

# enable keyboard numlock
if command -v numlockx &> /dev/null; then
    numlockx on
fi

# if command -v gnome-keyring-daemon &> /dev/null; then
#     # gnome-keyring-daemon --start --components=secrets
#     dbus-update-activation-environment --systemd DISPLAY
#     eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets)
#     # export SSH_AUTH_SOCK
# fi


# today wallpaper
# if command -v feh &> /dev/null; then
#     ~/.fehbg
#     ~/.bin/feh-wall today &
# fi

# last wallpapers/colorscheme used by pywal
# blue: kind-of-blue
# if [ -f ~/.bin/wal-switcher ]; then
#     ~/.bin/wal-switcher kind-of-blue &
# fi
[ -f ~/.anyenv/envs/pyenv/shims/wal ] && ~/.anyenv/envs/pyenv/shims/wal -q -i ~/Pictures/wallpapers/kind-of-blue > /dev/null

# redshift
if command -v redshift &> /dev/null; then
    ~/.bin/brightness 1
fi

# compositor for x11
if command -v compton &> /dev/null; then
    compton --daemon --config ~/.config/compton/main.conf
fi

# rofi clipboard manager
if command -v greenclip &> /dev/null; then
    greenclip daemon &
fi

# music player daemon
if command -v mpd &> /dev/null; then
    pgrep mpd > /dev/null || mpd &
fi

# hide mouse cursor when inactive
if command -v unclutter &> /dev/null; then
    pgrep unclutter > /dev/null || unclutter &
fi

# notifier
if command -v dunst &> /dev/null; then
    dunst -c ~/.cache/wal/colors-dunstrc &
    notify-send -i dialog-information "Welcome $USER@$(uname -n)!" "$(uname -s)." &
fi

# locker
if [ -f ~/.bin/locker ]; then
    ~/.bin/locker &
fi

# blurme
# if [ -f ~/.bin/blurme ]; then
#     ~/.bin/blurme &
# fi

# xrandr --output $monitorRight --auto --right-of $monitorLeft
# urxvtd -q -f -o
