#!/usr/bin/env sh

start_daemon() {
    if command -v $1 >/dev/null 2>&1; then
        pgrep $1 >/dev/null || $1 &
    fi
}

# keyboard delay/rate, turn off beep
command -v xset >/dev/null 2>&1 && xset r rate 350 45 && xset -b
# xset +fp ~/.local/share/fonts
# xset fp rehash
# keyboard numlock
command -v numlockx >/dev/null 2>&1 && numlockx on
# custom keymap
command -v setxkbmap >/dev/null 2>&1 && setxkbmap -layout fr -variant latin9 -option ctrl:nocaps,terminate:ctrl_alt_bksp
# apply current wallpaper/colorscheme
command -v wal >/dev/null 2>&1 && wal -R >/dev/null
# screen temp/brightness
command -v redshift >/dev/null 2>&1 && ~/.local/bin/redshift-cli --temp >/dev/null
# compositor for x11
command -v picom >/dev/null 2>&1 && picom -b --experimental-backends
# clipboard manager for rofi
if command -v greenclip >/dev/null 2>&1; then
    pgrep greenclip >/dev/null || greenclip daemon &
fi
# notifier
command -v dunst >/dev/null 2>&1 && dunst -c "$XDG_CACHE_HOME"/wal/colors-dunstrc &
# screen locker
command -v ~/.local/bin/locker >/dev/null 2>&1 && ~/.local/bin/locker &
# music player daemon
start_daemon mpd
# no mouse cursor
start_daemon xbanish
