! Colors
! http://www.xcolors.net/
!#include ".config/Xresources/colors-base16-ocean"
!#include ".config/Xresources/colors-palendrome"
!#include ".config/Xresources/colors-one-dark"
!#include ".config/Xresources/colors-breeze-dark"
!#include ".config/Xresources/colors-eighties"
!#include ".config/Xresources/colors-tomorrow-night"
#include ".config/Xresources/colors-custom"
!#include ".config/Xresources/colors-nord"

! Font Settings
#include ".config/Xresources/fonts"

! Terminals
#include ".config/Xresources/urxvt"
#include ".config/Xresources/xterm"
