[Desktop Entry]
Name=Neomutt
Comment=Neomutt
GenericName=A command line mail reader (MUA)
Exec=wm-focus neomutt
Terminal=true
Type=Application
Icon=neomutt
Categories=Mail;
MimeType=x-scheme-handler/mailto;
