[Desktop Entry]
Name=Newsboat
Comment=Newsboat
GenericName=An RSS/Atom feed reader for text terminals
Exec=wm-focus newsboat
Terminal=false
Type=Application
Icon=RSS_feeds
Categories=RSSReader;
