let background = "#{{base00-hex}}"
let foreground = "#{{base0F-hex}}"

let color0  = "#{{base00-hex}}"
let color1  = "#{{base01-hex}}"
let color2  = "#{{base02-hex}}"
let color3  = "#{{base03-hex}}"
let color4  = "#{{base04-hex}}"
let color5  = "#{{base05-hex}}"
let color6  = "#{{base06-hex}}"
let color7  = "#{{base07-hex}}"
let color8  = "#{{base08-hex}}"
let color9  = "#{{base09-hex}}"
let color10 = "#{{base0A-hex}}"
let color11 = "#{{base0B-hex}}"
let color12 = "#{{base0C-hex}}"
let color13 = "#{{base0D-hex}}"
let color14 = "#{{base0E-hex}}"
let color15 = "#{{base0F-hex}}"
