[global]
    follow = keyboard
    offset = 10x35
    font = Monospace 9
    idle_threshold = 120
    line_height = 2
    icon_path = /usr/share/icons/Papirus/48x48/status/:/usr/share/icons/Papirus/48x48/places/:/usr/share/icons/Papirus/48x48/mimetypes/:/usr/share/icons/Papirus/48x48/devices/:/usr/share/icons/Papirus/48x48/apps/
    max_icon_size = 64
    frame_width = 2
    frame_color = "#{{base04-hex}}"
    separator_color = "#{{base04-hex}}"

[urgency_low]
    background = "#{{base00-hex}}"
    foreground = "#{{base0F-hex}}"
    timeout = 5

[urgency_normal]
    background = "#{{base04-hex}}"
    foreground = "#{{base00-hex}}"
    frame_color = "#{{base04-hex}}"
    timeout = 10

[urgency_critical]
    background = "#{{base02-hex}}"
    foreground = "#{{base00-hex}}"
    frame_color = "#{{base01-hex}}"
    timeout = 0

[urgent_hints]
    summary = "*"
    script = ~/.local/bin/x-urgent-hint
