[user]
    name = Your name
    email = your@email.com
    ; signingkey = your@email.com

; [commit]
;     gpgsign = true

[core]
    editor = vim

[diff]
    tool = delta
    colorMoved = default

[difftool]
    prompt = false
    trustExitCode = true

[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE

[difftool "delta"]
    cmd = delta $LOCAL $REMOTE
