[user]
    name = Your name
    email = your@email.com
    ; signingkey = your@email.com

; [commit]
;     gpgsign = true

[core]
    editor = vim
    ; pager = delta -n --syntax-theme=ansi-dark

[diff]
    ; tool = kitty
    tool = delta

[difftool]
    prompt = false
    trustExitCode = true

[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE

[difftool "delta"]
    cmd = delta -n -s --syntax-theme=ansi-dark $LOCAL $REMOTE
