* {{
    selected-background: {color2};
    selected-background-faded: {color4}af;

    shadow:{background}ef;

    text-color: {foreground}7a;

    background-color: {background};
    background-light: {background}ac;
    foreground: {foreground};
    border-color: {color4};

    accent: {color4};
    on: {color2};
    off: {color6};
}}
