#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    theme: Some("ansi"),
    cache_dir: Some("/tmp/rmpc/cache"),
    lyrics_dir: Some("~/Music/library"),
    on_song_change: ["rmpc-notify", "--on-song-change"],
    scrolloff: 2,
    rewind_to_start_sec: 30,
    album_art: (method: Kitty),
    ignore_leading_the: true,
    keybinds: (
        global: {
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Album Artists"),
            "5":       SwitchToTab("Albums"),
            "9":       SwitchToTab("Playlists"),
            "0":       SwitchToTab("Search"),
            "]":       NextTab,
            "[":       PreviousTab,
            "}":       NextTrack,
            "{":       PreviousTrack,
            "-":       VolumeDown,
            "=":       VolumeUp,
            ":":       CommandMode,
            "q":       Quit,
            "f":       SeekForward,
            "b":       SeekBack,
            "s":       ToggleSingle,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "p":       TogglePause,
            "r":       ToggleRepeat,
            "I":       ShowCurrentSongInfo,
            "?":       ShowHelp,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
            "R":       AddRandom,
            "S":       ExternalCommand(command: ["scrobbler", "--toggle"], description: "Toggle Last.fm scrobbling mode"),
            "<Space>": ExternalCommand(command: ["rmpc-notify"], description: "Show song info (w. partial webradio support)"),
        },
        navigation: {
            "h":       Left,
            "j":       Down,
            "k":       Up,
            "l":       Right,
            "<C-h>":   PaneLeft,
            "<C-j>":   PaneDown,
            "<C-k>":   PaneUp,
            "<C-l>":   PaneRight,
            "<C-d>":   DownHalf,
            "<C-u>":   UpHalf,
            "J":       MoveDown,
            "K":       MoveUp,
            "n":       NextResult,
            "N":       PreviousResult,
            "a":       Add,
            "A":       AddAll,
            "D":       Delete,
            "g":       Top,
            "G":       Bottom,
            "<Tab>":   Select,
            "<C-a>":   InvertSelection,
            "<CR>":    Confirm,
            "i":       FocusInput,
            "/":       EnterSearch,
            "<C-[>":   Close,
            "<Esc>":   Close,
            "r":       Rename,
        },
        queue: {
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "D":       DeleteAll,
            "C":       JumpToCurrent,
            "X":       Shuffle,
        },
    ),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "72%", pane: Pane(Queue)),
                    (size: "28%", borders: "LEFT", pane: Split(
                        direction: Vertical,
                        panes: [
                            (size: "72%", pane: Pane(AlbumArt)),
                            (size: "28%", pane: Pane(Lyrics)),
                        ]
                    )),
                ],
            ),
        ),
        (name: "Directories", pane: Pane(Directories)),
        (name: "Artists", pane: Pane(Artists)),
        (name: "Album Artists", pane: Pane(AlbumArtists)),
        (name: "Albums", pane: Pane(Albums)),
        (name: "Playlists", pane: Pane(Playlists)),
        (name: "Search", pane: Pane(Search)),
    ],
)
