#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    theme: Some("ansi"),
    cache_dir: Some("/tmp/rmpc/cache"),
    on_song_change: ["rmpc-notify"],
    volume_step: 5,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    album_art: (
        method: Kitty,
        max_size_px: (width: 1500, height: 1500),
    ),
    keybinds: (
        global: {
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Album Artists"),
            "5":       SwitchToTab("Albums"),
            "6":       SwitchToTab("Playlists"),
            "7":       SwitchToTab("Search"),
            "<Tab>":   NextTab,
            "<C-S-i>": PreviousTab,
            "<S-Tab>": PreviousTab,
            "]":       NextTrack,
            "[":       PreviousTrack,
            "-":       VolumeDown,
            "=":       VolumeUp,
            ":":       CommandMode,
            "q":       Quit,
            "f":       SeekForward,
            "b":       SeekBack,
            "s":       ToggleSingle,
            "R":       ToggleRandom,
            "c":       ToggleConsume,
            "p":       TogglePause,
            "r":       ToggleRepeat,
            "?":       ShowHelp,
            "O":       ShowOutputs,
            "S":       ExternalCommand(command: ["scrobbler"], description: "Toggle Last.fm scrobbling mode"),
        },
        navigation: {
            "k":       Up,
            "j":       Down,
            "h":       Left,
            "l":       Right,
            "<C-k>":   PaneUp,
            "<C-j>":   PaneDown,
            "<C-h>":   PaneLeft,
            "<C-l>":   PaneRight,
            "<C-u>":   UpHalf,
            "N":       PreviousResult,
            "a":       Add,
            "A":       AddAll,
            "n":       NextResult,
            "g":       Top,
            "<Space>": Select,
            "G":       Bottom,
            "<CR>":    Confirm,
            "i":       FocusInput,
            "J":       MoveDown,
            "<C-d>":   DownHalf,
            "/":       EnterSearch,
            "<C-c>":   Close,
            "<Esc>":   Close,
            "K":       MoveUp,
            "D":       Delete,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
        },
        search: (
            case_sensitive: false,
            mode: Contains,
            tags: [
                (value: "any",         label: "Any Tag"),
                (value: "artist",      label: "Artist"),
                (value: "album",       label: "Album"),
                (value: "albumartist", label: "Album Artist"),
                (value: "title",       label: "Title"),
                (value: "filename",    label: "Filename"),
                (value: "genre",       label: "Genre"),
            ],
        ),
        tabs: [
            (
                name: "Queue",
                border_type: None,
                pane: Split(
                    direction: Vertical,
                    panes: [
                        (size: "25%", pane: Pane(AlbumArt)),
                        (size: "75%", pane: Pane(Queue))
                    ],
                ),
            ),
            (
                name: "Directories",
                border_type: None,
                pane: Pane(Directories),
            ),
            (
                name: "Artists",
                border_type: None,
                pane: Pane(Artists),
            ),
            (
                name: "Album Artists",
                border_type: None,
                pane: Pane(AlbumArtists),
            ),
            (
                name: "Albums",
                border_type: None,
                pane: Pane(Albums),
            ),
            (
                name: "Playlists",
                border_type: None,
                pane: Pane(Playlists),
            ),
            (
                name: "Search",
                border_type: None,
                pane: Pane(Search),
            ),
        ],
    ),
)

