/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {

  --global_margin: 0px;
  --left-margin: 0px;
  --right-margin: 0px;
  --line-size: 32px;
  --bar-opacity: 0.92;
}


/* ––––––––––––––––
––––––––––––––––––– GENERAL
––––––––––––––––––– */

.bar-container {
    border-bottom: 1px solid var(--color9);
}

#supernerd-widget-system-monitor-coffee {
  top:var(--global_margin);
  right:10%;
}