configuration {
    font: "monospace 9";
    show-icons: true;
    window-thumbnail: true;
    pid: "/run/user/1000/rofi.pid";
    kb-accept-entry: "!Alt-Tab,Return";
    kb-row-down: "Alt-Tab";
    kb-cancel: "Alt-Escape,Escape";
}
