configuration {
    show-icons: true;
    disable-history: false;
    sidebar-mode: true;
    scroll-method: 1;
    theme: "menus/main.rasi";
    kb-mode-next: "Super+l";
    kb-mode-previous: "Super+h";
    kb-row-up: "Super+k,Up";
    kb-row-down: "Super+j,Down";
    drun { display-name: ""; }
    calc { display-name: ""; }
    clipboard { display-name: ""; }
    emoji { display-name: ""; }
}
