[Desktop Entry]
Name=RTV
Comment=Browse Reddit from your terminal
GenericName=Reddit client
Exec=wm-focus rtv
Terminal=false
Type=Application
Icon=reddit
Categories=Reddit;
