"*":
  "atom-material-ui":
    depth: true
    fontSize: "Big"
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    audioBeep: false
    disabledPackages: [
      "language-objective-c"
      "language-java"
      "language-go"
      "language-csharp"
      "language-clojure"
      "language-c"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "SauceCodePro Nerd Font"
    fontSize: 14
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0cfdc790-e936-e71e-41b3-54beca2e3827"
  metrics:
    userId: "54932bdb-4edf-75e1-d566-868619fc9a9c"
  minimap: {}
  tabs:
    usePreviewTabs: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
