@font-size: 13px;
@font-family: 'SauceCodePro Nerd Font';

html, body,
.tree-view,
.tab-bar .tab,
.command-palette,
atom-pane,
status-bar {
    font-family: @font-family;
    font-size: @font-size;
}

status-bar .git-view {
    color: #27ae60;
}

.modal.overlay {
    width: 800px;
    margin-top: 50px;
    margin-left: -350px;
}

.fuzzy-finder {
    font-family: @font-family;
    font-size: @font-size;
    width: 784px;
}
