# https://beets.readthedocs.io/en/stable/plugins/discogs.html#authentication-via-personal-access-token
discogs:
    user_token: xxx

# https://beets.readthedocs.io/en/stable/plugins/fetchart.html#last-fm
fetchart:
    lastfm_key: xxx
